@font-face {
  font-family: "Muli-Bold";
  src: url("font/Muli-Bold/Muli-Bold.eot");
  src: url("font/Muli-Bold/Muli-Bold.eot") format("embedded-opentype"),
    url("font/Muli-Bold/Muli-Bold.woff") format("woff"),
    url("font/Muli-Bold/Muli-Bold.ttf") format("truetype"),
    url("font/Muli-Bold/Muli-Bold.svg#PFDinTextProMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("font/Muli/Muli.eot");
  src: url("font/Muli/Muli.eot") format("embedded-opentype"),
    url("font/Muli/Muli.woff") format("woff"),
    url("font/Muli/Muli.ttf") format("truetype"),
    url("font/Muli/Muli.svg#PFDinTextProMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
