@import "_mixin.scss";
@import "_font.scss";
@import "_header.scss";
@import "_footer.scss";
@import "myClassroom.scss";



.sidebar__element.active{
    background-color: #fff;
    .sidebar__element-link {
        color:#256AE5;
        @include regular;
        font-size: 18px;
        @media(max-width:560px) {
            font-size: 14px;
        }
    }
}

.dashboard {
    padding: 33px 50px 70px;
    &__title {
        @include bold;
        font-size: 24px;
        line-height: 35px;
        color: #5A5A5A;
        margin-bottom: 50px;
    }

    @media(max-width:560px) {
        padding: 33px 20px 70px;

    }
}


