* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

@font-face {
  font-family: "Muli-Bold";
  src: url("font/Muli-Bold/Muli-Bold.eot");
  src: url("font/Muli-Bold/Muli-Bold.eot") format("embedded-opentype"), url("font/Muli-Bold/Muli-Bold.woff") format("woff"), url("font/Muli-Bold/Muli-Bold.ttf") format("truetype"), url("font/Muli-Bold/Muli-Bold.svg#PFDinTextProMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("font/Muli/Muli.eot");
  src: url("font/Muli/Muli.eot") format("embedded-opentype"), url("font/Muli/Muli.woff") format("woff"), url("font/Muli/Muli.ttf") format("truetype"), url("font/Muli/Muli.svg#PFDinTextProMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header {
  z-index: 999;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 76px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 6px #00000029;
          box-shadow: 0px 0px 6px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .head_inner {
  width: 1140px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 8fr 2fr;
      grid-template-columns: 2fr 8fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .head_inner.without {
  width: 1140px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 8fr;
      grid-template-columns: 2fr 8fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  -ms-grid-column-align: start;
      justify-self: start;
  width: 137px;
  height: auto;
}

.header .links {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  grid-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
}

.header .links li a {
  white-space: nowrap;
  font: normal 16px/20px "Muli";
  color: #707070;
}

.header .links li a:hover {
  color: #252525;
}

.header .links li a.choosen {
  font: normal 16px/20px "Muli-Bold";
  color: #256AE5;
}

.header .headlogin {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #fff;
  font: normal 16px/20px "Muli";
  padding: 16px 32px;
  border-radius: 31px;
  text-align: center;
  background: transparent -webkit-gradient(linear, left top, right top, from(#6840d5), to(#256ae5)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #6840d5 0%, #256ae5 100%) 0% 0% no-repeat padding-box;
}

.header .headlogin:hover {
  color: #fff;
}

@media (max-width: 764px) {
  .header .headlogin {
    padding: 12px 24px;
  }
}

.header .menu {
  display: none;
}

.header .menu .line {
  display: block;
  height: 4px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#6840d5), to(#256ae5));
  background: transparent linear-gradient(90deg, #6840d5 0%, #256ae5 100%);
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.header .menu .line:first-child {
  width: 47px;
}

.header .menu .line:last-child {
  width: 32px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 5px;
}

.header .menu.active_menu .line:first-child {
  width: 38px;
  -webkit-transform: rotate(45deg) translate(1px, 12px);
          transform: rotate(45deg) translate(1px, 12px);
}

.header .menu.active_menu .line:last-child {
  width: 38px;
  -webkit-transform: rotate(-45deg) translate(-5px, -10px);
          transform: rotate(-45deg) translate(-5px, -10px);
}

@media (max-width: 1160px) {
  .header {
    padding: 0 32px;
  }
  .header ul {
    grid-gap: 24px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 0 32px;
  }
  .header .head_inner {
    -ms-grid-columns: 6fr 1fr 1fr;
        grid-template-columns: 6fr 1fr 1fr;
  }
  .header .links {
    position: absolute;
    top: -87vh;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    grid-auto-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    width: 100%;
    height: 86vh;
    -webkit-transition: 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 0;
  }
  .header .links li {
    text-align: center;
  }
  .header .links li a {
    font: normal 24px/36px "Muli";
  }
  .header .links li a.choosen {
    font: normal 16px/20px "Muli-Bold";
    font-size: 24px;
    line-height: 36px;
    color: #256AE5;
  }
  .header .links.links_active {
    z-index: 99;
    top: 77px;
    opacity: 1;
  }
  .header .menu {
    justify-self: end;
    cursor: pointer;
    width: 47px;
    height: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .headuserProfile {
  margin-left: 38px;
  margin-right: 14px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .headuserProfile-img {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.header .headuserProfile-user {
  font: normal 16px/20px "Muli";
  color: #3b405f;
}

@media (max-width: 764px) {
  .header {
    padding: 0 16px;
  }
  .header .head_inner {
    -ms-grid-columns: 4fr 1fr 1fr;
        grid-template-columns: 4fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .header .head_inner {
    -ms-grid-columns: 3fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr;
  }
  .header .logo {
    width: 100px;
    height: auto;
  }
  .header .logo img {
    width: 100%;
  }
  .header .headuserProfile-user {
    display: none;
  }
  .header .headuserProfile {
    width: 0;
  }
  .header .headuserProfile-img {
    margin-left: auto;
    width: 40px !important;
    height: 40px !important;
    outline: none;
  }
}

.footer {
  background: #585858;
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1140px;
  max-width: 100%;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FBFBFB;
  padding: 60px 25px 70px;
  font: normal 16px/20px "Muli";
}

@media (max-width: 650px) {
  .footer__inner {
    font-size: 14px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

@media (max-width: 650px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__element + .footer__element {
  margin-left: 60px;
}

@media (max-width: 810px) {
  .footer__element + .footer__element {
    margin-left: 15px;
  }
}

@media (max-width: 650px) {
  .footer__element + .footer__element {
    margin-left: 0;
  }
}

.footer__element-link {
  color: #FBFBFB;
}

@media (max-width: 650px) {
  .footer__element {
    margin-bottom: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

@font-face {
  font-family: "Muli-Bold";
  src: url("font/Muli-Bold/Muli-Bold.eot");
  src: url("font/Muli-Bold/Muli-Bold.eot") format("embedded-opentype"), url("font/Muli-Bold/Muli-Bold.woff") format("woff"), url("font/Muli-Bold/Muli-Bold.ttf") format("truetype"), url("font/Muli-Bold/Muli-Bold.svg#PFDinTextProMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("font/Muli/Muli.eot");
  src: url("font/Muli/Muli.eot") format("embedded-opentype"), url("font/Muli/Muli.woff") format("woff"), url("font/Muli/Muli.ttf") format("truetype"), url("font/Muli/Muli.svg#PFDinTextProMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header {
  z-index: 999;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 76px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 6px #00000029;
          box-shadow: 0px 0px 6px #00000029;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .head_inner {
  width: 1140px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 8fr 2fr;
      grid-template-columns: 2fr 8fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .head_inner.without {
  width: 1140px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 8fr;
      grid-template-columns: 2fr 8fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  -ms-grid-column-align: start;
      justify-self: start;
  width: 137px;
  height: auto;
}

.header .links {
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  grid-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
}

.header .links li a {
  white-space: nowrap;
  font: normal 16px/20px "Muli";
  color: #707070;
}

.header .links li a:hover {
  color: #252525;
}

.header .links li a.choosen {
  font: normal 16px/20px "Muli-Bold";
  color: #256AE5;
}

.header .headlogin {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #fff;
  font: normal 16px/20px "Muli";
  padding: 16px 32px;
  border-radius: 31px;
  text-align: center;
  background: transparent -webkit-gradient(linear, left top, right top, from(#6840d5), to(#256ae5)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #6840d5 0%, #256ae5 100%) 0% 0% no-repeat padding-box;
}

.header .headlogin:hover {
  color: #fff;
}

@media (max-width: 764px) {
  .header .headlogin {
    padding: 12px 24px;
  }
}

.header .menu {
  display: none;
}

.header .menu .line {
  display: block;
  height: 4px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#6840d5), to(#256ae5));
  background: transparent linear-gradient(90deg, #6840d5 0%, #256ae5 100%);
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.header .menu .line:first-child {
  width: 47px;
}

.header .menu .line:last-child {
  width: 32px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 5px;
}

.header .menu.active_menu .line:first-child {
  width: 38px;
  -webkit-transform: rotate(45deg) translate(1px, 12px);
          transform: rotate(45deg) translate(1px, 12px);
}

.header .menu.active_menu .line:last-child {
  width: 38px;
  -webkit-transform: rotate(-45deg) translate(-5px, -10px);
          transform: rotate(-45deg) translate(-5px, -10px);
}

@media (max-width: 1160px) {
  .header {
    padding: 0 32px;
  }
  .header ul {
    grid-gap: 24px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 0 32px;
  }
  .header .head_inner {
    -ms-grid-columns: 6fr 1fr 1fr;
        grid-template-columns: 6fr 1fr 1fr;
  }
  .header .links {
    position: absolute;
    top: -87vh;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    grid-auto-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    width: 100%;
    height: 86vh;
    -webkit-transition: 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: 0.45s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 0;
  }
  .header .links li {
    text-align: center;
  }
  .header .links li a {
    font: normal 24px/36px "Muli";
  }
  .header .links li a.choosen {
    font: normal 16px/20px "Muli-Bold";
    font-size: 24px;
    line-height: 36px;
    color: #256AE5;
  }
  .header .links.links_active {
    z-index: 99;
    top: 77px;
    opacity: 1;
  }
  .header .menu {
    justify-self: end;
    cursor: pointer;
    width: 47px;
    height: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .headuserProfile {
  margin-left: 38px;
  margin-right: 14px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .headuserProfile-img {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}

.header .headuserProfile-user {
  font: normal 16px/20px "Muli";
  color: #3b405f;
}

@media (max-width: 764px) {
  .header {
    padding: 0 16px;
  }
  .header .head_inner {
    -ms-grid-columns: 4fr 1fr 1fr;
        grid-template-columns: 4fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .header .head_inner {
    -ms-grid-columns: 3fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr;
  }
  .header .logo {
    width: 100px;
    height: auto;
  }
  .header .logo img {
    width: 100%;
  }
  .header .headuserProfile-user {
    display: none;
  }
  .header .headuserProfile {
    width: 0;
  }
  .header .headuserProfile-img {
    margin-left: auto;
    width: 40px !important;
    height: 40px !important;
    outline: none;
  }
}

.footer {
  background: #585858;
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1140px;
  max-width: 100%;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FBFBFB;
  padding: 60px 25px 70px;
  font: normal 16px/20px "Muli";
}

@media (max-width: 650px) {
  .footer__inner {
    font-size: 14px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

@media (max-width: 650px) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__element + .footer__element {
  margin-left: 60px;
}

@media (max-width: 810px) {
  .footer__element + .footer__element {
    margin-left: 15px;
  }
}

@media (max-width: 650px) {
  .footer__element + .footer__element {
    margin-left: 0;
  }
}

.footer__element-link {
  color: #FBFBFB;
}

@media (max-width: 650px) {
  .footer__element {
    margin-bottom: 15px;
  }
}

.myClassroom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  background: transparent linear-gradient(165deg, #256AE5 0%, #6741D5 96%, #6741D5 98%, #6840D5 100%) 0% 0% no-repeat padding-box;
}

.sidebar__inner {
  padding-top: 50px;
  margin-bottom: 400px;
}

.sidebar__user {
  font: normal 16px/20px "Muli-Bold";
  font-size: 18px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding: 0 20px 0 40px;
}

.sidebar__user img {
  margin-right: 30px;
}

@media (max-width: 560px) {
  .sidebar__user .sidebar__user-name {
    display: none;
  }
}

.sidebar__element {
  margin-bottom: 18px;
  padding: 12px 20px 12px 60px;
  font: normal 16px/20px "Muli";
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 756px) {
  .sidebar__element {
    padding: 15px 36px 15px 20px;
  }
}

@media (max-width: 560px) {
  .sidebar__element {
    padding: 15px 0 15px 16px;
    font-size: 14px;
    line-height: 18px;
  }
}

.sidebar__element .sidebar__element-link {
  color: #ffffff;
  padding-left: 48px;
}

.sidebar__element .sidebar__element-link--score {
  position: relative;
}

.sidebar__element .sidebar__element-link--score::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 17px;
  height: 20px;
  background: url("../img/scoreIcon.svg");
}

.sidebar__element .sidebar__element-link--vocab {
  position: relative;
}

.sidebar__element .sidebar__element-link--vocab::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 21px;
  height: 20px;
  background: url("../img/vobacIcon.svg");
}

.sidebar__element .sidebar__element-link--member {
  position: relative;
}

.sidebar__element .sidebar__element-link--member::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 22px;
  height: 20px;
  background: url("../img/membershipIcon.svg");
}

.sidebar__element .sidebar__element-link--settings {
  position: relative;
}

.sidebar__element .sidebar__element-link--settings::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 21px;
  height: 20px;
  background: url("../img/settings.svg");
}

@media (max-width: 560px) {
  .sidebar__element .sidebar__element-link {
    padding-left: 28px;
  }
}

.sign__out {
  font: normal 16px/20px "Muli";
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: none;
  padding-left: 48px;
  margin-bottom: 40px;
}

.sidebar__element.active {
  background-color: #fff;
}

.sidebar__element.active .sidebar__element-link {
  color: #256AE5;
  font: normal 16px/20px "Muli";
  font-size: 18px;
  position: relative;
}

.sidebar__element.active .sidebar__element-link::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 17px;
  height: 20px;
  background: url("../img/vocab_blue.svg");
}

@media (max-width: 560px) {
  .sidebar__element.active .sidebar__element-link {
    font-size: 14px;
  }
}

.dashboard {
  padding: 33px 50px 70px;
}

.dashboard__title {
  font: normal 16px/20px "Muli-Bold";
  font-size: 24px;
  line-height: 35px;
  color: #5A5A5A;
  margin-bottom: 50px;
}

@media (max-width: 560px) {
  .dashboard {
    padding: 33px 20px 70px;
  }
}

.dashboard__vocabulary {
  font: normal 16px/20px "Muli";
  font-size: 25px;
  line-height: 36px;
  padding: 33px 36px 33px 63px;
  -webkit-box-shadow: 0px 0px 6px #00000029;
          box-shadow: 0px 0px 6px #00000029;
  border-radius: 10px;
  color: #5A5A5A;
  margin-bottom: 60px;
}

.dashboard__vocabulary span {
  color: #256AE5;
}

@media (max-width: 756px) {
  .dashboard__vocabulary {
    font-size: 18px;
    line-height: 24px;
    padding: 33px 18px 33px 24px;
  }
}

@media (max-width: 620px) {
  .dashboard__vocabulary {
    font-size: 16px;
    line-height: 18px;
    padding: 20px 10px 20px 15px;
  }
}

@media (max-width: 430px) {
  .dashboard__vocabulary {
    font-size: 14px;
  }
}

.dashboard__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 460px) {
  .dashboard__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dashboard__btn {
  color: #256AE5;
  font: normal 16px/20px "Muli-Bold";
  padding: 16px 32px;
  border-radius: 31px;
  text-align: center;
  border: 1px solid #256AE5;
}

.dashboard__btn:hover {
  background: transparent -webkit-gradient(linear, left top, right top, from(#6840d5), to(#256ae5)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #6840d5 0%, #256ae5 100%) 0% 0% no-repeat padding-box;
  color: #ffffff;
}

@media (max-width: 756px) {
  .dashboard__btn {
    padding: 12px 24px;
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  .dashboard__btn {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=vocabulary-tab.css.map */